:root {
    --color-green: #17ff42;
    --color-green-light: #6cff87;
    --color-green-dark: #00b021;
    --color-blue: #2f90c2;
    --color-blue-light: #6bb5db;
    --color-blue-dark: #1e5d7e;
    --color-orange: #ff6b06;
    --color-orange-light: #ff7f28;
    --color-orange-dark: #d25500;
    --color-grey: #6f704f;
    --color-grey-light: #b6b6b6;
    --color-grey-dark: #343425;
    --color-white: #f6f6f6;
}

footer {
    height: 13vh;
    background-image: linear-gradient(to right, var(--color-grey-dark), var(--color-grey));
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

footer h3 {
    color: var(--color-white);
    margin: 0;
    padding-right: 20px;
}

.subscribe {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    text-align: center;
    color: var(--color-white);
}

.copyright h5 {
    margin: 0;
}